asttokens==3.0.0
chardet==5.2.0
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
executing==2.0.1
fonttools==4.51.0
fpdf==1.7.2
ipython==8.25.0
jedi==0.19.1
kiwisolver==1.4.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
numpy==1.26.4
packaging==24.0
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
prompt_toolkit==3.0.46
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.19.1
pyparsing==3.1.2
PyPDF2==3.0.1
PyPDF4==1.27.0
python-dateutil==2.9.0.post0
reportlab==4.2.5
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
wcwidth==0.2.13
